{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}

<form action="/register" method="POST" class="form-contact">
<p><label>Name: </label> <input type="text" name="name" value="" required />
<p><label>Email: </label> <input type="text" name="email" value="" required />
<p><label>Password: </label> <input type="password" name="password" value="" required />
<p><label>Password again: </label> <input type="password" name="password2" value="" required />
<p><input type="submit" value="Create account" />
</form>
{% endblock%}
